.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #000000;
}

@font-face {
  font-family: prisma;
  src: url(./font/Prisma.ttf);
}

@font-face {
  font-family: varsity;
  src: url(./font/varsity_regular.ttf);
}

@font-face {
  font-family: champagne;
  src: url(./font/Champagne\ &\ Limousines.ttf);
}

@font-face {
  font-family: southland;
  src: url(./font/Southland\ TTF.ttf);
}

.tooltip-edit {
  letter-spacing: 2px;
  font-weight: 200;
}

